@import "../../mixins.scss";

.create-event {
  font-weight: 500;
  max-width: 800px;
  margin: auto;
  height: 85vh;
  position: relative;
  overflow-y: scroll;
  border: 1px solid #00000044;
  border-radius: 1rem;

  .heading-part {
    @include flex(row, no);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid #00000044;

    h1 {
      margin: 0;
      font-size: 3rem;
      font-weight: 800;
    }

    button {
      text-decoration: none;
      color: white;
      background-color: black;
      font-size: 1.2rem;
      padding: 0.8rem;
      border-radius: 0.4rem;
      height: fit-content;
      border: none;
      cursor: pointer;
    }
  }

  form {
    @include flex(col, no);
    padding: 0.5rem 1rem;

    input {
      outline: none;
      padding: 0.5rem;
      font-family: "Manrope";
      font-size: 1rem;
      border: 1px solid grey;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
    }

    textarea {
      resize: none;
      padding: 0.5rem;
      font-family: "Manrope";
      font-size: 1rem;
      min-height: 10rem;
      outline: none;
      margin: 0;
      width: calc(100% - 1rem);
      margin-bottom: 1rem;
      border: 1px solid grey;
      border-radius: 0.5rem;
    }
  }
}
