@import "../../../mixins.scss";

.card-display {
  padding: 1rem;
  h2 {
    margin: 0.5rem 0;
    font-size: 2.5rem;
    font-weight: 800;
  }
}

.tags {
  margin: 1rem 0;
  @include flex(row, yes);
}

.tag {
  margin-right: 1rem;
}

.cancel {
  cursor: pointer;
}

.cards {
  @include flex(row, no);
  gap: 1rem;
  overflow-x: scroll;
}

// TheCard
.card {
  min-width: 450px;
  padding: 1rem;
  border-radius: 1rem;
  background-color: whitesmoke;
  position: relative;

  .card-status {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  h3 {
    font-weight: 800;
    font-size: 2rem;
    margin: 0.5rem 0;
  }

  img {
    width: 150px;
    height: 84px;
    object-fit: cover;
    object-position: top;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    border-radius: 1rem;
  }
}

.cards {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.cards::-webkit-scrollbar {
  display: none;
}
